@model IEnumerable<Boy_Scouts_Scheduler.Models.Activity>

<div>
THIS IS A TEST
</div>


<!--@foreach (var item in Model) {
    <tr data-pkey="@item.ID">
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>-->
}
