@model IEnumerable<Boy_Scouts_Scheduler.Models.Activity>
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<div id="AjaxGridContainer">
    <p>
        @Html.ActionLink("Click to Generate Schedule", "Generate", "Schedule")
    </p>
</div>