@{
    ViewBag.Title = "Help";
    ViewBag.Message = "Select your help topic.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        If help is needed beyond what is available in the help topics to the right, <br />
        Please feel free to contact the 'Cub Scout Scheduler' developers below. <br />

        <table>
            <tr>
                <td>Michael Diekema</td>
                <td>Diekema.2@osu.edu</td>
            </tr>
            <tr>
                <td>Andrew Edwards</td>
                <td>Edwards.708@osu.edu</td>
            </tr>
            <tr>
                <td>Moustafa Eid</td>
                <td>Eid.6@osu.edu</td>
            </tr>
            <tr>
                <td>Stephen Halter</td>
                <td>Halter.148@osu.edu</td>
            </tr>
        </table>
    </p>

</article>

<aside>@{ Html.RenderPartial("HelpAside"); }</aside>