@{
    ViewBag.Title = "Help";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        If help is needed beyond what is available in the available user guide, <br />
        Please feel free to contact the Cub Scout Scheduler developers below. <br />
    <p>
        <a href="@Url.Content("~/Content/Cub_Scouts_User_Guide-Final.pdf")" target="_blank">Click Here to View User Guide</a>
    </p>
        <table>
            <tr>
                <td>Michael Diekema</td>
                <td>Diekema.2@osu.edu</td>
            </tr>
            <tr>
                <td>Andrew Edwards</td>
                <td>Edwards.708@osu.edu</td>
            </tr>
            <tr>
                <td>Moustafa Eid</td>
                <td>Eid.6@osu.edu</td>
            </tr>
            <tr>
                <td>Stephen Halter</td>
                <td>Halter.148@osu.edu</td>
            </tr>
        </table>
    </p>

</article>