@{
    ViewBag.Title = "Import Scouts";
    ViewBag.Message = "Import indiviudal scout data here.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
     Use this page to import scout name using spreadsheet/doubleknot data.
    </p>
</article>