@{
    ViewBag.Title = "Cub Scouts Scheduling Home";
}

<center>
    <h2>Welcome to the Cub Scouts Scheduling Application</h2>
    
    <p>
        The Cub Scouts Scheduler is an application used to streamline the summer camp scheduling <br />
        process. Use it to enter activity times, stations, and groups. Next you can constrain your <br />
        schedule under the "Constraints" tab. When you are satisfied with your entries, continue to <br />
        the "Schedule" tab to generate your camp schedule.
    </p>

    <img src="@Url.Content("~/images/cub_happy_color.jpg")" alt="ASP.NET" />
    <img src="@Url.Content("~/images/cub_at_bat_color.jpg")" alt="ASP.NET" />
    <img src="@Url.Content("~/images/Archer.jpg")" alt="ASP.NET" />
</center>